<%- include('../layouts/admin/header.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (orderList) { %>
                                    <% for ( i = 0 ; i < orderList.length ; i ++ ) { %>
                                <tr>
                                    <td><%= orderList[i].orderId %></td>
                                    <td><b><%= orderList[i].address[0].name %></b></td>
                                    <td><%= orderList[i].address[0].phone %></td>
                                    <td><%= orderList[i].finalAmount %></td>
                                    <td><span class="badge rounded-pill alert-warning"><%= orderList[i].status %></span></td>
                                    <td><%= new Date(orderList[i].createdOn).toDateString() %></td>
                                    <% if (orderList[i].cancelled == false && orderList[i].status != "Delivered" && orderList[i].status != "Shipped" ) { %>
                                    <td class="text-end">
                                        <a href="/admin/orderDetails?id=<%= orderList[i]._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                    </td>
                                    <% } else if (orderList[i].status == "Shipped") { %>
                                        <td class="text-end text-warning">
                                            Order Shipped
                                        </td>
                                    <% } else if (orderList[i].status == "Delivered") {%>
                                        <td class="text-end text-success">
                                            Order Delivered
                                        </td>
                                    <% } else { %>
                                        <td class="text-end text-danger">
                                            Order Cancelled
                                        </td>
                                    <% } %>
                                </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
<%- include('../layouts/admin/footer.ejs') %>
       
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function orderDetails(id) {
        event.preventDefault();
        
        $.ajax({
            url: '/admin/orderDetails',
            type: "GET",
            data: JSON.stringify({ id }),
            constentType: "application/json",
            success: function (res) {
                if(res.success) {
                    windows.location.href='/admin/orderDetail'
                } else {
                    Swal.fire({
                        icon: "warning",
                        title: "error",
                        text: res.message
                    })
                }
            },
            error: function() {
                Swal.fire({
                    icon: "error",
                    title:"Error",
                    text: "Something went wrong"
                }).then((result) => {
                    window.location.href='/admin/login'
                })
            }
        })
    }
</script> -->